html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--main-text-color);
  font-family: Open-Sans, sans-serif;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --header-main-color: #ffffff;
  --light-theme-top-text-color: #303030;
  --dark-theme-top-text-color: rgba(157, 164, 189, 0.6);
  --light-theme-title-color: #303030;
  --dark-theme-title-color: #ffffff;
  --light-text-color: #555555;
  --dark-text-color: #9DA4BD;
  --accent-color: #FF6C00;
  --main-text-color: #555555;
  --main-button-color: #303030;
  --second-button-color: #ffffff;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --gradient: linear-gradient(rgba(25, 28, 38, 0.5),
          rgba(25, 28, 38, 0.5));
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  padding-left: 31px;
  padding-right: 31px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 39px;
    padding-right: 39px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 55px;
    padding-right: 55px;
  }
}

.section {
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .section {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.top-title {
  font-family: Raleway, sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.top-title.light {
  color: var(--light-theme-title-color);
}
.top-title.dark {
  color: var(--dark-theme-title-color);
}

.top-text {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.top-text.light {
  color: var(--light-theme-top-text-color);
}
.top-text.dark {
  color: var(--dark-theme-top-text-color);
}
.top-text::before {
  display: block;
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: currentColor;
}

.button {
  display: inline-block;
  padding: 12px 15px;
  min-width: 160px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-align: center;
  cursor: pointer;
  color: var(--main-button-color);
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
  text-transform: uppercase;
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
.button.light {
  color: #303030;
}
.button.dark {
  color: #ffffff;
}
.button:hover, .button:focus {
  color: var(--second-button-color);
  background-color: var(--accent-color);
}

.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
}
.header .container {
  display: flex;
}
@media screen and (min-width: 1280px) {
  .header .container {
    align-items: center;
  }
}

.header-logo {
  margin-right: 60px;
}
@media screen and (min-width: 1280px) {
  .header-logo {
    margin-right: 70px;
  }
}

.logo-icon {
  fill: #ffffff;
}
@media screen and (min-width: 768px) {
  .logo-icon {
    fill: #303030;
  }
}

.nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav {
    display: block;
  }
}

.nav-list {
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 24px;
}
@media screen and (min-width: 1280px) {
  .nav-item:not(:last-child) {
    margin-right: 40px;
  }
}

.nav-link {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--header-main-color);
  transition: color 250ms var(--timing-function);
}
.nav-link:hover, .nav-link:focus {
  color: var(--accent-color);
}

.header-connect {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-connect {
    display: block;
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }
}
@media screen and (min-width: 1280px) {
  .header-connect {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-left: auto;
  }
}

.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--header-main-color);
  transition: color 250ms var(--timing-function);
}
@media screen and (min-width: 1280px) {
  .header-tel {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
.header-tel:hover, .header-tel:focus {
  color: var(--accent-color);
}

.header-button {
  margin-bottom: 20px;
}
@media screen and (min-width: 1280px) {
  .header-button {
    margin-left: 40px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.mob-menu-button {
  display: block;
  margin-left: auto;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  fill: #ffffff;
  transition: fill 250ms var(--timing-function);
}
.mob-menu-button:hover, .mob-menu-button:focus {
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .mob-menu-button {
    display: none;
  }
}

.hero .container {
  display: flex;
}
@media screen and (max-width: 768.98px) {
  .hero .container {
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .hero .container {
    max-width: 768px;
    padding-left: 39px;
    padding-right: 39px;
  }
}
@media screen and (min-width: 1280px) {
  .hero .container {
    max-width: 1280px;
    padding-left: 55px;
    padding-right: 55px;
  }
}

.hero-soc {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero-soc {
    display: flex;
    align-items: flex-end;
    width: 93px;
    padding-left: 24px;
    padding-bottom: 40px;
  }
}

.hero-soc-list {
  display: flex;
  transform: rotate(-90deg) translate(-19px);
  transform-origin: top left;
  align-items: center;
}
.hero-soc-list:before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
  margin-right: 40px;
}

.hero-soc-item + .hero-soc-item {
  margin-left: 40px;
}

.hero-soc-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
  transition: color 250 var(--timing-function);
}
.hero-soc-link:hover, .hero-soc-link:focus {
  color: var(--accent-color);
}

.hero-content {
  flex-grow: 1;
  padding: 208px 31px 183px 31px;
  background-color: rgba(25, 28, 38, 0.2);
  background-image: var(--gradient), url(../images/hero/hero-1-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-content {
    background-image: var(--gradient), url(../images/hero/hero-1-bg-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero-content {
    padding: 280px 70px 157px 70px;
    background-image: var(--gradient), url(../images/hero/hero-1-bg-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-content {
    background-image: var(--gradient), url(../images/hero/hero-1-bg-tab-2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .hero-content {
    padding: 270px 11px 200px 100px;
    background-image: var(--gradient), url(../images/hero/hero-1-bg-desk.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero-content {
    background-image: var(--gradient), url(../images/hero/hero-1-bg-desk-2x.jpg);
  }
}

.hero-top-text {
  margin-bottom: 20px;
  color: var(--dark-theme-top-text-color);
}

.hero-top-title {
  font-family: Raleway;
  font-size: 48px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  color: var(--dark-theme-title-color);
}
@media screen and (min-width: 1280px) {
  .hero-top-title {
    font-size: 72px;
    line-height: 1.18;
  }
}

.hero-text {
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.02em;
  color: #9DA4BD;
  max-width: 306px;
}
@media screen and (min-width: 1280px) {
  .hero-text {
    font-size: 18px;
    line-height: 1.67;
  }
}
@media screen and (min-width: 768px) {
  .hero-text {
    max-width: 349px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-text {
    max-width: 400px;
  }
}

@media screen and (min-width: 1280px) {
  .about.section {
    padding-top: 163px;
    padding-bottom: 88px;
  }
}
.about .container {
  display: flex;
}

.about-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .about-list {
    display: block;
    margin-right: 30px;
    flex-shrink: 0;
  }
}
@media screen and (min-width: 1280px) {
  .about-list {
    display: flex;
    margin-right: 64px;
  }
}

.about-item + .about-item {
  margin-top: 30px;
}
@media screen and (min-width: 1280px) {
  .about-item + .about-item {
    margin-top: 0;
    margin-left: 30px;
  }
}

.about-top-text {
  margin-bottom: 20px;
}

.about-top-title {
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  width: 330px;
  color: var(--main-title-color);
  margin-bottom: 20px;
}
@media screen and (min-width: 1280px) {
  .about-top-title {
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    width: 483px;
  }
}

.about-text {
  color: var(--main-text-color);
  margin-bottom: 20px;
}
.about-text.first {
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.02em;
}
.about-text.second {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
}
@media screen and (min-width: 1280px) {
  .about-text.first {
    font-size: 18px;
    line-height: 1.67;
  }
  .about-text.second {
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
  }
}

.prices {
  background-color: #111319;
  background-image: url(../images/prices/prices-bg-mob.png);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .prices {
    background-image: url(../images/prices/prices-bg-mob-2x.png);
  }
}
@media screen and (min-width: 768px) {
  .prices {
    background-image: url(../images/prices/prices-bg-tab.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .prices {
    background-image: url(../images/prices/prices-bg-tab-2x.png);
  }
}
@media screen and (min-width: 1280px) {
  .prices {
    background-image: url(../images/prices/prices-bg-desk.png);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .prices {
    background-image: url(../images/prices/prices-bg-desk-2x.png);
  }
}

.prices-top-title {
  margin-bottom: 44px;
}

@media screen and (min-width: 1280px) {
  .prices-list-wrap {
    display: flex;
  }
}

.prices-list {
  padding: 30px;
  margin-bottom: 50px;
  flex-grow: 1;
}
@media screen and (min-width: 768px) {
  .prices-list {
    padding: 30px 40px;
  }
}
.prices-list.light {
  background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.prices-list.dark {
  background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.prices-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.prices-item:not(:last-child) {
  margin-bottom: 20px;
}
.prices-item:after {
  content: "";
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
  flex-grow: 1;
  margin-left: 6px;
  margin-right: 6px;
}

.prices-text {
  color: #9DA4BD;
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .prices-text {
    font-size: 18px;
    line-height: 1.67;
  }
}
.prices-text:last-child {
  order: 1;
}

.prices-button {
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 1280px) {
  .features.section {
    padding-top: 143px;
    padding-bottom: 137px;
  }
}
@media screen and (min-width: 1280px) {
  .features .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }
}

.features-content {
  width: 418px;
}
@media screen and (min-width: 768px) {
  .features-content {
    width: 500px;
  }
}

.features-top-title {
  margin-bottom: 20px;
}

.features-text {
  margin-bottom: 44px;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 450px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .features-list {
    margin-left: auto;
  }
}

.features-item {
  text-align: center;
  padding: 20px 32px;
  height: 133px;
  max-width: 193px;
  background-color: #F7F7F7;
}
@media screen and (min-width: 768px) {
  .features-item {
    width: 210px;
  }
}
@media screen and (min-width: 1280px) {
  .features-item {
    width: 170px;
  }
}
.features-item:nth-child(2n+1) {
  margin-bottom: 30px;
  margin-right: 30px;
}
.features-item:nth-child(2n) {
  margin-top: 35px;
}

.features-item-number {
  position: relative;
  display: inline-block;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
  color: #303030;
}
.features-item-number::before {
  display: block;
  position: absolute;
  top: 6px;
  right: -12px;
  content: "";
  width: 13px;
  height: 22px;
  background-image: url(../images/plus.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.features-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: #303030;
}

.masters {
  background-color: #F7F7F7;
}
@media screen and (max-width: 1279.98px) {
  .masters .container {
    width: 450px;
  }
}

.masters-top-title {
  margin-bottom: 44px;
}

.masters-list {
  margin-bottom: -64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1280px) {
  .masters-list {
    flex-direction: row;
    margin-left: -30px;
  }
}

.masters-item {
  margin-bottom: 64px;
}
@media screen and (min-width: 1280px) {
  .masters-item {
    flex-basis: calc(33.3333333333% - 30px);
    margin-left: 30px;
  }
}

.masters-title {
  margin-top: 30px;
  margin-bottom: 8px;
  color: #303030;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.02em;
  text-align: center;
}

.masters-text {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-align: center;
}

.masters-soc-list {
  display: flex;
  justify-content: center;
}

.masters-soc-item + .masters-soc-item {
  margin-left: 10px;
}

.masters-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  fill: #303030;
  transition: fill 250ms var(--timing-function);
}
.masters-soc-link:hover, .masters-soc-link:focus {
  fill: var(--accent-color);
}

.masters-soc-icon {
  width: 20px;
  height: 20px;
}

.gallery .container {
  outline: solid tomato;
}

.gallery-top-text {
  margin-bottom: 44px;
}

.gallery-list {
  margin-bottom: -30px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .gallery-list {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.gallery-item {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .gallery-item {
    flex-basis: calc(50% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .gallery-item {
    flex-basis: calc(25% - 30px);
    margin-left: 30px;
  }
}

.contact-wrap {
  background-color: #191C26;
}
@media screen and (min-width: 1280px) {
  .contact-wrap > .container {
    display: flex;
  }
}

@media screen and (min-width: 1280px) {
  .online {
    flex-grow: 1;
  }
}
.online .container {
  padding-left: 31px;
}

.online-top-title {
  margin-bottom: 44px;
}

.form-field {
  margin-bottom: 44px;
}

.form-label {
  position: absolute;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  transition: color 250ms var(--timing-function);
}

.form-input {
  width: 100%;
  position: relative;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  padding-bottom: 8px;
}

.user-text {
  position: relative;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  width: 100%;
  resize: none;
}

.contacts {
  background-image: url(../images/contacts/contacts-mob-min.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 1280px) {
  .contacts {
    width: calc(50% - 15px);
  }
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .contacts {
    background-image: url(../images/contacts/contacts-mob-2x-min.png);
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    background-image: url(../images/contacts/contacts-tab-min.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .contacts {
    background-image: url(../images/contacts/contacts-tab-2x-min.png);
  }
}
@media screen and (min-width: 1280px) {
  .contacts {
    background-image: url(../images/contacts/contacts-desk-min.png);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .contacts {
    background-image: url(../images/contacts/contacts-desk-2x-min.png);
  }
}
.contacts .container {
  padding-left: 31px;
}

.contacts-top-title {
  margin: 0 auto;
  margin-bottom: 40px;
}

.contacts-list {
  margin-bottom: 70px;
}

.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-link {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}

.contacts-icon {
  margin-right: 16px;
}

.contacts-top-text {
  color: #ffffff;
}
.contacts-top-text:before {
  background-color: rgba(157, 164, 189, 0.4);
}

.contacts-text {
  color: #9DA4BD;
}

.footer {
  padding-top: 44px;
  padding-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}
@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
}

.footer-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (max-width: 767.98px) {
  .footer-list {
    margin-bottom: 20px;
  }
}
.footer-list::before {
  display: block;
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 40px;
  background-color: currentColor;
}

.footer-item + .footer-item {
  margin-left: 40px;
}

.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.2em;
  color: #303030;
}

.footer-copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.2em;
  color: #9DA4BD;
}/*# sourceMappingURL=main.css.map */