// + fonts-installed
// + problems with text organization on all screens

.about {
    &.section {
        @include desktop {
            padding-top: 163px;
            padding-bottom: 88px;
        }
    } 
    .container {
        display: flex;
    }
}

.about-list {
    display: none;

    @include tablet {
        display: block;
        margin-right: 30px;
        flex-shrink: 0;
    }

    @include desktop {
        display: flex;
        margin-right: 64px;
    }
}

.about-item {
    &+& {
        margin-top: 30px;
    }

    @include desktop {
        &+& {
            margin-top: 0;
            margin-left: 30px;
        }
    }
}
.about-top-text {
    @include desktop {
        margin-bottom: 18px;
    }
}

.about-top-title {
    @include font (null, 28px, calc(33px / 28px), 0.05em);

    width: 330px;

    @include desktop {
        @include font (null, 42px, calc(49px / 42px), 0.05em);
        margin-bottom: 18px;
        width: 483px;
    }

    color: var(--main-title-color);
    margin-bottom: 20px;
}

.about-text {
    color: var(--main-text-color);

    &.first {
        @include font (null, 16px, calc(26px / 16px), 0.02em);
        max-width: 400px;
        margin-bottom: 20px;
        
    }

    &.second {
        @include font (null, 14px, calc(26px / 14px), 0.02em);
        max-width: 378px;
        margin-bottom: 40px;
    }
     
    @include tablet {
        margin-bottom: 32px;
        &.first {
            max-width: 300px;
        }
        &.second {
            max-width: 310px;
        }
    }
    @include desktop {
        max-width: 500px;
        
        &.first {
            @include font (null, 18px, calc(30px / 18px), null);
            max-width: 500px;
            margin-bottom: 18px;
        }
        &.second {
            margin-bottom: 32px;
            max-width: 450px;
        }
    }
}