.contact-wrap {
    background-color: #191C26;
    
    & > .container {
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
        padding: 0;

        @include desktop {
            display: flex;
        } 
    }
}

.contacts {
    @include desktop {
        width: calc(50% - 15px);
        padding: 130px 100px;
    }
    
    background: url(../images/contacts/contacts-mob-min.png), #191C26;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/contacts/contacts-mob-2x-min.png);
        }
    @include tablet {
        background-image: url(../images/contacts/contacts-tab-min.png);
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(../images/contacts/contacts-tab-2x-min.png);
            }
    }
    @include desktop {
        background-image: url(../images/contacts/contacts-desk-min.png);
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/contacts/contacts-desk-2x-min.png);
        }
    }
}

.contacts-inner-container {
    margin: 0 auto;
    padding: 0 31px;

    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 480px;
    }

    @include tablet {
        width: 768px;
    }

    @include desktop {
        width: 270px;
        padding: 0;
        margin: 0;
    }
}

.contacts-top-title {
    margin: 0 auto;
    margin-bottom: 40px;
}

.contacts-list {
    margin-bottom: 70px;
}

.contacts-item {
    
    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.contacts-link {
    display: flex;
    align-items: center;
    @include font (400, 18px, 1.67, 0.02em);
    color: #9DA4BD;
}

.contacts-icon {
    margin-right: 16px;
}

.contacts-top-text {
    color: #ffffff;

    &:before {
        background-color: rgba(157, 164, 189, 0.4);
    }
}

.contacts-text {
    color: #9DA4BD;
}