.features {
    @include desktop {
        padding-top: 143px;
        padding-bottom: 137px;
    }

    .container {
        @include desktop {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-evenly;
        }
    }
}

.features-content {
    @media screen and (max-width: 767.98px) {
        max-width: 418px;
    }
    @include tablet {
        width: 500px;
    }
}

.features-top-title {
    margin-bottom: 20px;
}

.features-text {
    margin-bottom: 44px;
    @include font (null, 18px, 1.67, 0.02em);
    color: #555555;
}

.features-list {
    max-width: 450px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    
    @media screen and (min-width: 768px) and (max-width: 1279px) {
        margin-left: auto;
    }
    @include desktop {
        width: 370px;
    }
}

.features-item {
    text-align: center;
    padding: 20px 32px;
    height: 133px;
    max-width: 193px;

    &:nth-child(2n) {
        margin-top: 35px;
    }
    background-color: #F7F7F7;
}

.features-item-number {
    position: relative;
    display: inline-block;
    margin-bottom: 6px;
    @include font (700, 42px, 1.36, 0.05em);
    color: #303030;
    &::before {
        display: block;
        position: absolute;
        top: 6px;
        right: -12px;
        content: "";
        width: 13px;
        height: 22px;
        background-image: url(../images/plus.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
}

.features-item-text {
    @include font (600, 11px, 1.36, null);
    color: #303030;
}