.hero {
    overflow: hidden;
    position: relative;
    padding: 0;
    .container {
        position: relative;
        display: flex;
        @media screen and (max-width: 768.98px) {
            padding: 0;
        }
        @include tablet {
            max-width: 768px;
            padding-left: 39px;
            padding-right: 39px;
        }

        @include desktop {
            max-width: 1280px;
            padding-left: 55px;
            padding-right: 55px;
        }
    }
}

// ----------------hero-soc----------------------

.hero-soc {
    display: none;
    @include tablet {
        display: flex;
        align-items: flex-end;
        width: 93px;
        
        padding-left: 24px;
        padding-bottom: 40px;
    }
}

.hero-soc-list {
    display: flex;
    transform: rotate(-90deg) translate(-19px);
    transform-origin: top left;
    align-items: center;

    &:before {
        content: "";
        width: 60px;
        height: 1px;
        background-color: #303030;
        margin-right: 40px;
    }
}

.hero-soc-item + .hero-soc-item {
    margin-left: 40px;
}

.hero-soc-link {
    @include font (600, 11px, 1.36, 0.2em);
    color: #303030;
    transition: color 250 var(--timing-function);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}
// ------------content---------------
.hero-content {
    position: relative;
    flex-grow: 1;
    overflow: hidden;
    background-color: rgba(25, 28, 38);
}
// ----------swiper-slider---------------
.hero-swiper-container {
    width: 100%;
    height: 580px;
    overflow: hidden;
    @include tablet {
        height: 680px;
    }
    @include desktop {
        height: 672px;
    }
}

.hero-slide {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &:nth-child(1) {
        background-color: rgba(25, 28, 38, 0.8);
        background-image: var(--gradient),
            url(../images/hero/hero-1-bg-mob.jpg);
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(../images/hero/hero-1-bg-mob-2x.jpg);
            }
        @include tablet {
            background-image: var(--gradient),
            url(../images/hero/hero-1-bg-tab.jpg);
            @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: var(--gradient),
                        url(../images/hero/hero-1-bg-tab-2x.jpg);
                }
        }
        @include desktop {
            background-image: var(--gradient),
                url(../images/hero/hero-1-bg-desk.jpg);

            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: var(--gradient),
                    url(../images/hero/hero-1-bg-desk-2x.jpg);
            }
        }
    }

    &:nth-child(2) {
        background-color: rgba(25, 28, 38, 0.4);
        background-image: var(--gradient),
            url(../images/hero/hero-2-bg-mob.jpg);
        @include tablet {
            background-image: var(--gradient),
                url(../images/hero/hero-2-bg-tab.jpg);
    
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: var(--gradient),
                    url(../images/hero/hero-2-bg-tab-2x.jpg);
            }
        }
            
        @include desktop {
            background-image: var(--gradient),
                url(../images/hero/hero-2-bg-desk.jpg);
    
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: var(--gradient),
                    url(../images/hero/hero-2-bg-desk-2x.jpg);
            }
        }
    }

    &:nth-child(3) {
        background-color: rgba(25, 28, 38, 0.5);
        background-image: var(--gradient),
            url(../images/hero/hero-3-bg-mob.jpg);
        @include tablet {
            background-image: var(--gradient),
                url(../images/hero/hero-3-bg-tab.jpg);
    
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: var(--gradient),
                    url(../images/hero/hero-3-bg-tab-2x.jpg);
            }
        }
            
        @include desktop {
            background-image: var(--gradient),
                url(../images/hero/hero-3-bg-desk.jpg);
    
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: var(--gradient),
                    url(../images/hero/hero-3-bg-desk-2x.jpg);
            }
        }
    }
}

.swiper-buttons-wrap {
    position: absolute;
    bottom: 34px;
    right: 36px;
    display: flex;
    gap: 24px;
    width: 136px;
    height: 24px;
}

.swiper-btn {
    z-index: 50;
    width: 56px;
    height: inherit;
    cursor: pointer;
    @include font(600, 11px, calc(15px / 11px), 0.1em);
    border-bottom: 1px solid rgba(157, 164, 189, 0.6);
    &:last-child {
        text-align: right;
    }
    transition: all 250ms linear;
    &:hover {
        color: #fff;
        border-bottom: 1px solid #fff;
    }
}

// -----------content-text-----------
.hero-content-text {
    position: absolute;
    z-index: 1;
    top: 208px;
    left: 31px;

    pointer-events: none;
    @include tablet {
        top: 280px;
        left: 70px;
    }
    @include desktop {
        top: 271px;
        left: 100px;
    }
}

.hero-top-text {
    margin-bottom: 20px;
    color: var(--dark-theme-top-text-color);
}

.hero-top-title {
    font-family: Raleway;
    @include font (null, 48px, 1.17, 0.05em);

    @include desktop {
        @include font (null, 72px, 1.18, null);
    }

    margin-bottom: 20px;
    color: var(--dark-theme-title-color);
}

.hero-text {
    @include font (null, 16px, 1.63, 0.02em);

    @include desktop {
        @include font (null, 18px, 1.67, null);
    }

    color: #9DA4BD;
    max-width: 306px;

    @include tablet {
        max-width: 349px;
    }
    @include desktop {
        max-width: 400px;
    }
}