.button {
    display: inline-block;

    padding: 12px 15px;
    min-width: 160px;
    height: 40px;

    font-family: inherit;
    @include font (600, 12px, 1.33, 0.09em);
    text-align: center;
    cursor: pointer;
    color: var(--main-button-color);

    border: 1px solid var(--accent-color);
    border-radius: 25px;
    background-color: transparent;
    text-transform: uppercase;
    transition: color 250ms var(--timing-function),
        background-color 250ms var(--timing-function);

    &.light {
        color: #303030;
    }

    &.dark {
        color: #ffffff;
    }

    &:hover,
    &:focus {
        color: var(--second-button-color);
        background-color: var(--accent-color);
    }

}