.top-title {
    font-family: Raleway, sans-serif;
    @include font (null, 42px, 1.17, 0.05em);
    // line-height: 49px;
    // margin-bottom: 20px;

    &.light {
        color: var(--light-theme-title-color);
    }

    &.dark {
        color: var(--dark-theme-title-color);
    }
}