html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    color: var(--main-text-color);
    font-family: Open-Sans, sans-serif;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}