html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    color: var(--main-text-color);
    background-color: #fff;
    font-family: Open-Sans, sans-serif;
}